.conta{
    text-align: center;
    width: 1440px;
height: 373px;
top: 7989px;
gap: 0px;
border: 3px 0px 3px 0px; 
background: #FFFFFF;
border-width: 3px, 0px, 3px, 0px;
margin-left: 2%;
border-style: solid;
margin-top: 3%;
border-color: #E0E0E0;
padding-top: 3%;
}
.div-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.containe-link{
    display: flex;
    flex-direction: column;
}
.containe-link h1{
    padding-bottom: 15%;
}
.containe-link p {
    width: 85px;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 6%;
}
.ic{
    width: 21px;
height: 22px;
top: 2px;
left: 7px;
gap: 0px;
margin: 2%;
}
.follow{
    padding-left: 20%;
}
.two{
    width: 104px;
height: 14px;
top: 20px;
left: 19px;
gap: 0px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;
text-align: left;

}
.h{
    height: 5px !important;
}
.input{
    width: 312px;
height: 51px;
top: 59px;
left: 23px;
gap: 0px;
border-radius: 5px;
border: 1px;
  
border: 1px solid #717171;
}
.subs{
    width: 312px;
height: 51px;
top: 127px;
left: 23px;
padding: 16px 14px 16px 14px;
gap: 10px;
border-radius: 5px;
  
border: none;
background: #427EF3;
color: white;
margin-top: 5%;
}
.twoo{
    width: 104px;
height: 24px;
top: 18px;
left: 19px;
gap: 0px;
  
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;
text-align: left;
color: #000000;
margin-bottom: 0%;
margin-top: 5%;

}
.rigth{
top: 316px;
left: 626px;
gap: 0px;
  
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: center;
color: #000000;

}
.hrr{
    width: 1243px;
height: 3px;
top: 282px;
left: 106px;
gap: 0px;
  
background: #D6D6D6;
margin-left: 5%;
margin-top: 5%;
}
.n{
    padding-bottom: 3% !important;
}
.containe-link-mobile{
    display: none;
}
.didd{
    display: none;
}
@media screen and (max-width: 768px) {
    .conta{
        text-align: center;
        width: 100vw;
    height: 373px;
    }
    .containe-link-mobile{
        display: flex;
    }
    .containe-link{
        display: flex;
        flex-direction: column;
    }
    .containe-link h1{
        padding-bottom: 20%;
        font-size: 15px;
    }
    .containe-link p {
        width: 85px;
        height: 19px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
    margin: 10%;
    }
    .ic{
        width: 15px;
    height: 15px;
    top: 2px;
    left: 7px;
    gap: 0px;
      
    margin: 2%;
    }
    .input{
        width: 132px;
        height: 41px !important;
    }
    .subs{
        width: 140px;
    height: 51px;
    }
    .hrr{
        width: 353px;
    }
    .two{
        font-size: 10px;
    }
    .dis{
        display: none;
    }
    .didd{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .inputt{
        width: 132px;
        height: 31px;
        top: 59px;
        left: 23px;
        gap: 0px;
        border-radius: 5px;
        border: 1px;
          
        border: 1px solid #717171;
    }
    .subss{
        width: 132px;
        height: 37px;
        top: 127px;
        left: 23px;
        gap: 10px;
        border-radius: 5px;
          text-align: center;
        border: none;
        background: #427EF3;
        color: white;
        margin-top: 0%;
    }
}